.container__ourProducts {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  min-height: 100vh;
  &-title {
    span {
      color: #f0fd71;
    }
    h2 {
      text-align: left;
    }
  }
}
